# AQAir
VITE_AQAIR_API_KEY="euphie-the-magical-girl"
VITE_AQAIR_API_ENDPOINT="api.airvisual.com"

# Open Weather
VITE_OPENWEATHER_API_KEY="magicology2004"
VITE_OPENWEATHER_API_ENDPOINT="api.openweathermap.org"

# Station (Currently Polaris Sensor)
VITE_STATION_API_ENDPOINT="100.104.203.114"
VITE_STATION_API_PORT=5000
